@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #0f172a;
}
.dark {
  --bg: #0b1220;
  --fg: #e2e8f0;
}
html, body, #__nuxt {
  height: 100%;
}
body {
  background-color: var(--bg);
  color: var(--fg);
}

.prose img {
  @apply rounded-md;
}

